<!-- Banner -->	
<section id="banner" style="background-image: url(images/light-bl.svg), url(images/light-br.svg), url(images/overlay.png), url({{post.image}})">
    <div class="inner">

        <header>
            <h2><span style="color:pink">My</span>SEO<span style="color:pink">Love</span>Letter</h2>
        </header>
        
        <p>A quick thank you
        <br />
        to all the people and all
        <br />
        the things I've learned at Airbnb.</p>
        <br />
            <ul class="buttons vertical">
                <li>                
                    <a href="https://seoloveletter.github.io/letter/clueless" class="button fit scrolly">Read my letter</a>    
                </li>
            </ul>        
    </div>
</section>
